.appLyrics {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.lyrics {
    font-size: 8rem;
    font-weight: 500;
    letter-spacing: 0.2;

}

.title {
    font-size: 6rem;
    position: absolute;
    bottom: 50px;
    font-size: 2.4rem;
    font-weight: 500;
    opacity: 0.6;

}